

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb{
    min-height: 68px !important;
}

.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow{
    padding-right: 10% !important;
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb{
    padding-left: 25% !important;
}


* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
                   /* prevent copy paste, to allow, change 'none' to 'text' */
}

.ui-page.ui-body-c {
    background: url(img/dimension.png)!important;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;  
}


.ui-body-c, .ui-overlay-c { background: none!important;}

body {
 
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:20px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}


.shadow {
	-webkit-box-shadow: 7px 7px 30px rgba(50, 50, 50, 0.62);
-moz-box-shadow:    7px 7px 30px rgba(50, 50, 50, 0.62);
box-shadow:         7px 7px 30px rgba(50, 50, 50, 0.62);
}

#mainLibraryList > .ui-li {
    height : 85px;
   
}

.ui-input-search {
	margin-bottom:50px!important
}

#content {
	margin-top:30px!important
}

/* Portrait layout (default) */
.app {
 /* 170px x 200px */
           /* position in the center of the screen */
         background: none!important;
    left:0px;
    top:0px;
    height:100%;                   /* text area height */
    width:100%;                   /* text area width */
    text-align:center;
 
}

#mainLibraryList, #bookDetail {
	margin-left:0px!important;
	
}
#content {

	padding-left:5px;
	width:95%;
	

	font-size:22px;
	padding:10px;
	
}



h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
